h5{color: aqua;background-color: dimgray;height: 60px;width: 90%;font-size: 25%;
font-weight: 300;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{background-color: magenta;color: whitesmoke;}